@model  Retreave.Models.UserProfileViewModel
@{
    ViewBag.Title = "Account Details";
    var user = Model.User;
    var indexes = Model.Indexes;
}
<h2>
    Account Details for
    @user.UserName</h2>
<div>
    <h2>
        Linked Accounts</h2>
    <ul>
        <li>Twitter Account
            @user.UserName</li>
    </ul>
</div>
<div>
    <h2>
        Active Indexes</h2>
    <ul>
        @foreach (var index in indexes)
        {
            <li>@index.Name</li>
        }
    </ul>
</div>
