@{
    ViewBag.Title = "Index";
}
<h2>
    RetrEave Search</h2>
<table width="720" border="4" cellpadding="3" cellspacing="0">
    <tr>
        <td width="56" class="s_date">
            Day 1
        </td>
        <td colspan="2" class="s_date">
            Thursday, May 26
        </td>
    </tr>

    <tr>
        <td>
            11:25
        </td>
        <td>
            <strong>Session 2 - Part A</strong>
        </td>
    </tr>
    <tr>
        <td class="showTip msg006">
            <strong>
                |BIM|
            </strong>117 - Case Study - Revit Coordination with Copy / Monitor and API's<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Brian Renehan
        </td>
    </tr>
    <tr>
        <td class="showTip msg007">
            <strong>
                |Architecture|
            </strong>154 - New Features - Revit Architecture<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Steve Stafford
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg008">
            <strong>
                |MEP|</strong> 155 -
            New Features - Revit MEP<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Bob Bell
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg009">
            <strong>
                |Structure|
            </strong>156 - New Features - Revit Structure<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - David Harrington
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg010">
            <strong>
                |Principal|
            </strong><strong><span class="text4">Principal's Stream </span></strong>- Principals
            Day Introduction<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels<br>
            </span>
            
        </td>
        <td class="s_speaker">
            - Wesley Benn
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="s_break">
            12:20
        </td>
        <td colspan="2" class="s_break">
            Changeover
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td>
            12:30
        </td>
        <td>
            <strong>Session 2 - Part B</strong>
        </td>
    </tr>
    <tr>
        <td class="showTip msg011">
            <strong>
                |Principal|</strong><strong><span
                    class="text4"> Principal's Stream</span></strong> - 151 - Industry Update
            (starts at 11:40 to 13:00)<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Evan Leslie et al
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg012">
            <strong>
                |General|</strong><span class="text5">
                    Lab</span> - 168 - New Features
           <br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Eldad Asoulin
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg201">
            <strong>
                |General|</strong> Codebook
            with Revit Session - to Be Confirmed<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - TBA
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg014">
            <strong>
                |BIM|
            </strong>68 - Revit Protocols &amp; Standards Where Do I Start?<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Neil Munro
        </td>
    </tr>
    <tr>
        <td class="showTip msg015">
            <strong>
                |Structure|
            </strong>125 - Robot, Revit and Fabrication from Within the Revit Model<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Brenden Picton
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg016">
            <strong>
                |General|
            </strong>23 - Working with Revit Server<br>
            <span class="cost_price">
                ^INTERMEDIATE^
                - Intermediate</span>
        </td>
        <td class="s_speaker">
            - Paul Hellawell
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td width="56" class="s_break">
            13:25
        </td>
        <td colspan="2" class="s_break">
            Lunch
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td>
            14:20
        </td>
        <td>
            <strong>Session 3 - Part A</strong>
        </td>
    </tr>
    <tr>
        <td class="showTip msg017">
            <strong>
                |Architecture|</strong>
            Advanced Geometry<br>
            <span class="cost_price">
                ^ADVANCED^
                - Advanced</span>
        </td>
        <td class="s_speaker">
            - Phil Read
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg018">
            <strong>
                |General|</strong> 42
            - Autodesk Design Review Coordinating from Feasability to Schematic In - House and
            Out<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Belinda Hodkinson
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg019">
            <strong>
                |Structure|</strong>
            15 - Graphical Column Schedules - Making Them Work for You<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Nathan Love
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg020">
            <strong>
                |General|</strong><span class="text5">
                    Lab</span> - 166 - Parts &amp; Assemblies Tools<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Scott Davis
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg021">
            <strong>
                |BIM|
            </strong>158 - Systems Admin for BIM Managers (Deployments/Scripting/ini File)<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Phil Smith
        </td>
    </tr>
    <tr>
        <td class="showTip msg022">
            <strong>
                |Principal|
            </strong><strong><span class="text4">Principal's Stream</span></strong> - 1 Bligh:
            Smart and Green with BIM (starts at 13:55 to 14:50)<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Rodd Perey
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="s_break">
            15:15
        </td>
        <td colspan="2" class="s_break">
            Changeover
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td>
            15:25
        </td>
        <td>
            <strong>Session 3 - Part B</strong>
        </td>
    </tr>
    <tr>
        <td class="showTip msg023">
            <strong>
                |Principal|</strong><strong><span
                    class="text4"> Principal's Stream</span></strong> - 56 - Organizational
            BIM: How to Assess and improve Your Organization's BIM Performance (starts at 15:00
            to 15:55)<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Bilal Succar
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg024">
            <strong>
                |Structure|</strong>
            87 - Conceptual Energy Analysis<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Eldad Asoulin
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg025">
            <strong>
                |MEP|
            </strong>119 - Doing What Can't Be Done - Mechanical Workshop Documentation<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Tim Winnington
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg026">
            <strong>
                |General|</strong><span class="text5">
                    Lab</span> - 85 - Adaptive Components - Making Them Work for You<span class="showTip msg012">
                       </span><br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Chris Mawson
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg027">
            <strong>
                |BIM|
            </strong>95 - Living Cost Planning - Bridging the Gap Between the Model and the
            Cost Plan<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Matt Hemming
        </td>
    </tr>
    <tr>
        <td class="showTip msg028">
            <strong>
                |General|
            </strong>35 - Still Not Sharing Your Coordinates<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Paul Aubin
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="s_break">
            16:20<br>
        </td>
        <td colspan="2" class="s_break">
            Afternoon Tea
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td>
            16:40
        </td>
        <td>
            <strong>Session 4</strong>
        </td>
    </tr>
    <tr>
        <td class="showTip msg029">
            <strong>
                |Principal|</strong><strong><span
                    class="text4"> Principal's Stream</span></strong> - 25 - HR &amp; BIM: Understanding
            the Impact on Your Business (Start at 16:15 until 17:35)<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Chris Needham + Panel
        </td>
    </tr>
    <tr>
        <td class="showTip msg030">
            <strong>
                |Principal|</strong><strong><span
                    class="text4"> Principal's Stream </span></strong>- Wrap - up, Q+A<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg031">
            <strong>
                |BIM|
            </strong>21 - BIM - From the Ashes Rose the Phoenix. Best Practices and Lessons
            Learnt from Implementing BIM on a Live Construction Site<br>
            <span class="cost_price">
                ^INTERMEDIATE^
                - Intermediate</span>
        </td>
        <td class="s_speaker">
            - Melanie Schmidt
        </td>
    </tr>
    <tr>
        <td class="showTip msg032">
            <strong>
                |Architecture|</strong>
            38 - Detailing in Autodesk Revit Architecture<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Paul Aubin
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg033">
            <strong>
                |MEP|
            </strong><span class="text5">Lab</span> - 20 - Massing for Revit MEP<br>
            <span class="cost_price">
                ^INTERMEDIATE^
                - Intermediate</span>
        </td>
        <td class="s_speaker">
            - Simon Whitbread
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg034">
            <strong>
                |Structure|</strong>
            103 - Structural Families Overview
            <br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Ben May
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg035">
            <strong>
                |Architecture|</strong>
            10 - Topography - The Highs and Lows<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Laura Smagin
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="s_break" style="vertical-align: middle;">
            18:00
        </td>
        <td colspan="2" class="s_break">
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
        <td width="56" class="s_date">
            Day 2
        </td>
        <td colspan="2" class="s_date">
            Friday, May 27
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td>
            09:00
        </td>
        <td>
            <strong>Session 5</strong>
        </td>
    </tr>
    <tr>
        <td class="showTip msg036">
            <strong>
                |General|</strong> 60
            - 10 Free Revit API's You Cant Live Without<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Adam Sheather &amp; Andrew Bagnall
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg037">
            <strong>
                |Architecture|</strong>
            16 - Designing in Revit Using Parametric Formulas<br>
            <span class="cost_price">
                ^ADVANCED^
                - Advanced</span>
        </td>
        <td class="s_speaker">
            - Tim Waldock
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td width="520" class="showTip msg038">
            <strong>
                |BIM|
            </strong>28 - Families - The Good, The Bad and The Ugly<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Bruce Gow
        </td>
    </tr>
    <tr>
        <td class="showTip msg039">
            <strong>
                <img src="images/dot_visualisation.gif" alt="" width="10" height="10">
            </strong>104 - Have Revit Will Render<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - J Mark Kelly
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg040">
            <strong>
                |General|</strong><span class="text5">
                    Lab</span> - 72 - Using Revit Scheduling for Documenting, Checking
            <br>
            and Calculating<span class="showTip msg012">
               </span><br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Ceilidh Higgins
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg041">
            <strong>
                |General|
            </strong>144 - Revit to Digital Manufacturing (55 minutes)<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Martin Taurer
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="s_break">
            10:20<br>
        </td>
        <td colspan="2" class="s_break">
            Morning Tea
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td>
            10:40
        </td>
        <td>
            <strong>Session 6 - Part A</strong>
        </td>
    </tr>
    <tr>
        <td class="showTip msg042">
            <strong>
                |BIM|
            </strong>FAB-MEP AUS - Design BIM through to Manufacturing BIM<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Jim Reis
        </td>
    </tr>
    <tr>
        <td class="showTip msg072">
            <strong>
                |General|</strong> 54
            - How Revit &amp; CostX Can Be Utilised to Provide Clients with Quick and Accurate
            Quantities and Costings<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Brett Taylor
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg044">
            <strong>
                |General|</strong> 148
            - Case Study - Competition Winners from 2010<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Glenn Cunnington, Tony Hoffman, Calvin Kwan &amp; Nando Nicotra
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg045">
            <strong>
                |Structure|</strong><span
                    class="text5"> Lab</span> - 124 - Structural Advanced Families<span class="showTip msg012">
                       </span><br>
            <span class="cost_price">
                ^ADVANCED^
                - Advanced</span>
        </td>
        <td class="s_speaker">
            - Chris Price
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg046">
            <strong>
                |General|</strong> Revit
            for Film and Stage<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Phil Read
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg047">
            <strong>
                |Architecture|
            </strong>36 - Make a Strong Finish! Revit&reg; Interiors and Finishes<br>
            <span class="cost_price">
                ^INTERMEDIATE^
                - Intermediate</span>
        </td>
        <td class="s_speaker">
            - Paul Aubin
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="s_break">
            12:00<br>
        </td>
        <td colspan="2" class="s_break">
            Changeover
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td>
            12:10
        </td>
        <td>
            <strong>Session 6 - Part B</strong>
        </td>
    </tr>
    <tr>
        <td class="showTip msg048">
            <strong>
                |BIM|</strong> 48 - Collaboration:
            'Big BIM'<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Paul King
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg049">
            <strong>
                |Architecture|</strong><span
                    class="text5"> Lab</span> - 18 - Shared Nested Families: We shouldn't, should
            we?<span class="showTip msg012">
               </span><br>
            <span class="cost_price">
                ^INTERMEDIATE^
                - Intermediate</span>
        </td>
        <td class="s_speaker">
            - Russell Hamblin
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg050">
            <strong>
                |MEP|</strong> 13 - Revit
            MEP - Enterprisewide Content Creation and Management<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Roy Qian
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg051">
            <strong>
                <img src="images/dot_sustainability.gif" alt="" width="10" height="10"></strong>
            134 - Revit to LCADesign
        </td>
        <td class="s_speaker">
            - Scott Beazley
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg052">
            <strong>
                |Structure|</strong>
            79 - Software Interoperability on Multi Disciplinary Projects &ndash; A structural
            Perspective<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Christopher Pynn
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg053">
            <strong>
                |BIM|
            </strong>98 - Spreading the Knowledge - Training Your Staff<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Melanie Tristram
        </td>
    </tr>
    <tr>
        <td class="s_break">
            13:05<br>
        </td>
        <td colspan="2" class="s_break">
            Lunch
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td>
            14:00
        </td>
        <td>
            <strong>Session 7 - Part A</strong>
        </td>
    </tr>
    <tr>
        <td class="showTip msg054">
            <strong>
                |Architecture|</strong>
            82 - Beyond Buildings: Masterplanning with Revit Architecture<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Michelle Leonard
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg055">
            <strong>
                |General|</strong> 89
            - Drop the B in BIM<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Clay Hickling
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg056">
            <strong>
                |MEP|</strong> 45 - Implementing
            Revit MEP From First Principles<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Ian Matthews
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg057">
            <strong>
                |Architecture|</strong><span
                    class="text5"> Lab</span> - 78 - GenerativeComponents: &quot;Capturing the
            Concept&quot; (Part 1)<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Lars Moth-Poulsen
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg058">
            <strong>
                <img src="images/dot_sustainability.gif" alt="" width="10" height="10">
            </strong>135 - Revit to Ecotect<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Scott Beazley
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg059">
            <strong>
                |BIM|</strong> 57 - Understanding
            BIM Wash - A Primer for Clients and Service Providers<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Bilal Succar
        </td>
    </tr>
    </tr>
    <tr>
        <td class="s_break">
            14:55<br>
        </td>
        <td colspan="2" class="s_break">
            Changeover
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td>
            15:05
        </td>
        <td>
            <strong>Session 7 - Part B</strong>
        </td>
    </tr>
    <tr>
        <td class="showTip msg060">
            <strong>
                |BIM|</strong> 55 - 4th
            Dimension - 4D Technology - Navisworks Timeliner &amp; 3D Printing. (Rapid Model
            Prototyping)<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Tenae Francis &amp; Dale Harrison
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg084">
            <strong>
                |General|</strong> 73
            - Case Study - Multi Disciplinary SuperClinic Project<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Ceilidh Higgins
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg062">
            <strong>
                |Architecture|</strong>
            96 - Go behind the Curtains<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Katia Gard
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg063">
            <strong>
                <img src="images/dot_visualisation.gif" alt="" width="10" height="10"></strong><span
                    class="text5"> Lab</span> - 78 - GenerativeComponents: &quot;Capturing the
            Concept&quot; (Part 2)<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Lars Moth-Poulsen
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg064">
            <strong>
                |MEP|</strong> 30 - Project
            Delivery Using Revit and a BIM Methodology An MEP Perspective<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Daniel Morrison &amp; Matthew Fox
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg065">
            <strong>
                <img src="images/dot_sustainability.gif" width="10" height="10">
            </strong>Project Vasari<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Ibrahim Thanawalla
        </td>
    </tr>
    </tr>
    <tr>
        <td class="s_break">
            16:00<br>
        </td>
        <td colspan="2" class="s_break">
            Afternoon Tea
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td>
            16:20
        </td>
        <td>
            <strong>Session 8</strong>
        </td>
    </tr>
    <tr>
        <td class="showTip msg066">
            <strong>
                |General|
            </strong>107 - Collaboration &amp; Coordination<br>
            <span class="cost_price">
                ^INTERMEDIATE^
                - Intermediate</span>
        </td>
        <td class="s_speaker">
            - Stewart Caldwell
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg067">
            <strong>
                |BIM|
            </strong>59 - Getting Navisworking<br>
            <span class="cost_price">
                ^INTERMEDIATE^
                - Intermediate</span>
        </td>
        <td class="s_speaker">
            - Adam Sheather
        </td>
    </tr>
    </tr><tr>
        <td class="showTip msg068">
            <strong>
                |General|</strong> 44
            - How Revit Models Can Be Used in Tekla to Produce Steel Shop Drawings<br>
            <span class="cost_price">
                ^INTERMEDIATE^
                - Intermediate</span>
        </td>
        <td class="s_speaker">
            - Brett Taylor
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg069">
            <strong>
                |General|</strong><span class="text5">
                    Lab</span> - 81 - Creating Your First Revit Ribbon. Introduction to the
            Revit SDK &amp; API<br>
            <span class="cost_price">
                ^ADVANCED^
                - Advanced</span>
        </td>
        <td class="s_speaker">
            - Peter Giampa
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg070">
            <strong>
                |MEP|</strong> 118 -
            Multiservice Coordination - Construction Documentation<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Tim Winnington
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg071">
            <strong>
                |Architecture|
            </strong>102 - Revit's Top Model - Conceptual Massing World<br>
            <span class="cost_price">
                ^ADVANCED^
                - Advanced</span>
        </td>
        <td class="s_speaker">
            - Stephen Taskin
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
        <td width="56" class="s_date">
            Day 3
        </td>
        <td colspan="2" class="s_date">
            Saturday, May 28
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td>
            09:00
        </td>
        <td>
            <strong>Session 9</strong>
        </td>
    </tr>
    <tr>
        <td class="showTip msg043">
            <strong>
                <img src="images/dot_owner.gif" alt="" width="10" height="10"></strong> 116
            - BIM and Cost Planning<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Flavio Yamauti
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg073">
            <strong>
                |General|</strong><span class="text5">
                    Lab</span> - 122 - Architectural Advanced Families<span class="showTip msg012">
                       </span><br>
            <span class="cost_price">
                ^ADVANCED^
                - Advanced</span>
        </td>
        <td class="s_speaker">
            - Chris Price
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg074">
            <strong>
                |Architecture|</strong>
            108 - Master Planning Communities<br>
            <span class="cost_price">
                ^ADVANCED^
                - Advanced</span>
        </td>
        <td class="s_speaker">
            - Michael Ruehr
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg075">
            <strong>
                |BIM|</strong>147 - BIM
            Collaboration - From a practical Angle<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Martin Taurer
        </td>
    </tr>
    </tr><tr>
        <td class="showTip msg076">
            <strong>
                |MEP|</strong> 75 - Revit
            MEP Tips, Tricks &amp; Golden Nuggets<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Andrew Bagnall
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg077">
            <strong>
                <img src="images/dot_visualisation.gif" alt="" width="10" height="10">
            </strong>127 - Showcase Your Architecture, Real - Time Rendering with Revit<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Nicholas Broadbent
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="s_break">
            10:20am
        </td>
        <td colspan="2" class="s_break">
            Morning Tea
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td>
            10:40
        </td>
        <td width="520">
            <strong>Session 10 - Part A</strong>
        </td>
        <td width="126">
        </td>
    </tr>
    <tr>
        <td class="showTip msg078">
            <strong>
                |Architecture|</strong>
            115 - &quot;For Construction&quot;... Design Development and Documentation Techniques
            for Tender and Construction<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Glenn Cunnington
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg079">
            <strong>
                |General|</strong> 140
            - ANZRS Content Guidelines<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Michelle Van Kolck, Belinda Hodkinson &amp; Chris Needham
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg081">
            <strong>
                |BIM|
            </strong>133 - IFC Export to Revit<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Scott Beazley
        </td>
    </tr>
    </tr><tr>
        <td class="showTip msg082">
            <strong>
                |MEP|</strong><span class="text5">
                    Lab</span> - 64 - Get the Spacials Correct - Revit MEP Equipment<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Jessica Lucas &amp; Sherman Powell
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg083">
            <strong>
                <img src="images/dot_sustainability.gif" alt="" width="10" height="10">
            </strong>101 - Think Green: Getting Your Head Around Ecotect Analysis<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Christian Theis
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg098">
            <strong>
                |General|
            </strong>BIM for Grey Hairs<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - David Krope
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="s_break">
            12:00<br>
        </td>
        <td colspan="2" class="s_break">
            Changeover
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td>
            12:10
        </td>
        <td>
            <strong>Session 10 - Part B</strong>
        </td>
    </tr>
    <tr>
        <td class="showTip msg061">
            <strong>
                |General|</strong> 90
            - Bringing BIM to the Site<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Simon Moyes
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg085">
            <strong>
                <img src="images/dot_owner.gif" alt="" width="10" height="10"></strong> 100
            - Collaboration Through City Information Modelling for Sustainable Cities
            <br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Louisa Carter
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg086">
            <strong>
                |MEP|</strong> 111 -
            Fire System Design in Revit MEP<br>
            <span class="cost_price">
                ^INTERMEDIATE^
                - Intermediate</span>
        </td>
        <td class="s_speaker">
            - Chris Lock
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg087">
            <strong>
                |Architecture|
                <span class="text5">Lab</span> - </strong>167 - Creating Bridges with Civil
            3D &amp; Revit Structure<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Shane Brown
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg088">
            <strong>
                |BIM|
            </strong>130 - Presentation BIM &amp; Healthcare Architecture: Caring is Not Sharing<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Matt Rumbelow &amp; Phillip McNeill
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg013">
            <strong>
                |Architecture|</strong>
            Emerging Technologies<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Jim Balding
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="s_break">
            13:05<br>
        </td>
        <td colspan="2" class="s_break">
            Lunch
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td>
            14:00
        </td>
        <td>
            <strong>Session 11</strong>
        </td>
    </tr>
    <tr>
        <td class="showTip msg089">
            <strong>
                |General|</strong> 141
            - Afternoon with Autodesk<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Rob Malkin
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg090">
            <strong>
                |BIM|</strong> 121 -
            Revit Collaboration &amp; a &quot;One Model&quot; Case Study<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Chris Price
        </td>
    </tr>
    </tr><tr>
        <td class="showTip msg091">
            <strong>
                |Structure|</strong>
            62 - Construction Families for Structures<br>
            <span class="cost_price">
                ^ADVANCED^
                - Advanced</span>
        </td>
        <td class="s_speaker">
            - Adam Sheather
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg092">
            <strong>
                <img src="images/dot_construction.gif" alt="" width="10" height="10">
            </strong>164 - iConstruct<br>
            <span class="cost_price">
                ^ALL-LEVELS^
                - All Levels</span>
        </td>
        <td class="s_speaker">
            - Daniel Smith
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg093">
            <strong>
                |Architecture|</strong><span
                    class="text5"> Lab</span> - 106 - Use and Abuse of Curtain Walls<span class="showTip msg012">
                       </span><br>
            <span class="cost_price">
                ^ADVANCED^
                - Advanced</span>
        </td>
        <td class="s_speaker">
            - Michael Ruehr
        </td>
    </tr>
    <tr>
    </tr>
    <tr>
        <td class="showTip msg094">
            <strong>
                |MEP|
            </strong>61 - The Next Step After Modeling - Using Your Digital Data.<br>
            <span class="cost_price">
                ^INTERMEDIATE^
                - Intermediate</span>
        </td>
        <td class="s_speaker">
            - Kevin Thickett
        </td>
    </tr>
    <tr>
    </tr>

</table>
