@{
    ViewBag.Title = "Home";
}
<p>
    Welcome to RetrEave, a search engine for links posted to your social networks.
</p>
<div id="search">
Enter search term:
    <input type="text" />
    <input type="button" value="Search" />
</div>
